.App {
  margin: 20px;
}

footer {
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
  color: purple;
}

h1 {
  color: white;
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: white;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#current-location-button {
  background-color: violet;
  border-color: violet;
}

.container {
  width: 50%;
  opacity: 1;
  padding: 30px;
  margin: 30px auto;
  border-radius: 30px;
  border-style: dotted;
  border-color: white;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.row {
  text-align: center;
}

.credits {
  text-align: center;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

i {
  position: relative;
  font-size: 50px;
  color: orange;
}
